# Tuple
### datový typ: N-tice

* Tuple nemůže měnit prvky!

* Velice podobné jako list, i má stejné operace

* Pokud "změníme tuple", tak se vytváří nový objekt! Původní tuple jen přišel o jméno.

* Narozdíl od TUPLE do listu se dá přidat další hodnotu - list zůstane jako stejný objekt - stejé ID

* Dobré pro reprezentaci prvků z databáze

* Databáze namedtuple pro více funkcí s tuplem

In [2]:
t = (1, 2, 1.0, "one")
t, id(t), type(t)

((1, 2, 1.0, 'one'), 1561211576672, tuple)

In [3]:
t[1:3], t[-1]

((2, 1.0), 'one')

In [4]:
# Nalze přepsat prvek tuple
t[0] = 1

TypeError: 'tuple' object does not support item assignment

In [5]:
t += ("two",)  # podobne jako string (vytvori se NOVY objekt)
t

(1, 2, 1.0, 'one', 'two')

In [6]:
t, id(t)

((1, 2, 1.0, 'one', 'two'), 1561211623344)

In [7]:
l = [1, 2, 1]
print(l, id(l))
l[0] = 3
print(l, id(l))

[1, 2, 1] 1561211545408
[3, 2, 1] 1561211545408

In [8]:
l1 = [1, 2, 3]
l = [l1, [2, 3]]

In [9]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]

t2 = (l1, l2)
t2

([1, 2, 3], [4, 5, 6])

In [11]:
t2[1][0] = 100
t2

([1, 2, 3], [100, 5, 6])

In [13]:
tuple([1, 2, 3])

(1, 2, 3)